body {
    background-image: url(../img/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu-bar li {
    display: inline;
    font-size: 20pt;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}


  
